body{
  background: $grayBg-300
}
button{
  cursor:pointer;
  border:none;
}
.btn{
  border-radius: 5px;
  background: white;
  &:hover{
    background: $grayBg-300;
  }
}
.activeTab{
  color: $primaryColor;
}
.hidden{
  display:none;
}