.home{
  display:flex;
  gap: 1rem;
  .sideNav,.contacts{
    flex: 1 0 30ch;
  }
}
.sideNav{
  display:none;
  padding: 1rem;
  padding-left: 0;
  &__list{width: 100%;}
  &__item{
    display:flex;
    align-items:center;
    padding: .5rem;
    gap:.5rem;
    border-radius: 5px;
    &:hover{
      background: $grayBg-500;
    }
  }
  @media only screen and (min-width:$lg){
    display:block;
  }
}

.newsFeed{
  &>div{
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 1px 2px $boxShadow;
  }
  .post__create{
    display:grid;
  }
}
.contacts{
  display:none;
  padding: 0 1rem 1rem;
  &__head{
    display:flex;
    justify-content:space-between;
    padding: .5rem;
  }
  &__item{
    display:flex;
    align-items:center;
    padding: .5rem;
    gap:.5rem;
    border-radius: 5px;
    &:hover{
      background: $grayBg-500;
    }
    .online{
      position: relative;
      &::before{
        content:'';
        position:absolute;
        height: .8rem;
        width: .8rem;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        background-color: white;
      }
      &::after{
        content:'';
        position:absolute;
        height:.6rem;
        width: .6rem;
        bottom: 1px;
        right: 1px;
        border-radius: 50%;
        background-color: $greenBg-500;
      }
    }
  }
  @media only screen and (min-width:$md){
    display:block;
  }
}