// Colors
$grayBg-300: hsl(216, 20%, 95%);
$grayBg-500: hsl(216, 20%, 90%);
$grayBg-700: hsl(216, 20%, 85%);
$grayFg: hsl(216, 20%, 50%);
$linkColor: #7e6bf2;
$greenBg-500: #31a24c;
$primaryColor: #1877f2;
$test: #0c5eca;

$boxShadow: rgba(0, 0, 0, 0.2);

// Screen Size
$md: 800px;
$lg: 1200px;

@import '_default';
@import '_authentication';
